.App {
  width: 500px;
  height: 300px;
  margin: 90px auto;
  text-align: center;
  border: 3px dashed #00CDD8;
  background: linear-gradient(to right, #68d6f2 0%,#69b6f4 100%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn{
  margin: 40px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: none;
  color: #fff;
  width: 120px;
  height: 30px;
  background: #00CDD8;
}
.titleName{
  position: absolute;
  top: 10px;
  left: 42%;
  letter-spacing: 7px;
  color: #00CDD8;
  text-transform: uppercase;
}