.Number{
    display: inline-block;
    margin: 10px;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0 2px 2px #00CDD8;
    box-shadow: 0 2px 2px #00CDD8;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    color: #fff;
 }
